.result {
    font-style: italic;
}

.error {
    color: red;
}

.success {
    color: green;
}

.form {
    width: 400px;
    background: #f8f8f8;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 200px auto;
}

input[type=submit]{
    width: 200px;
    background: #555;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.25);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    margin: 30px auto;
    display: block;
}

.result {
    font-size: 20px;
    padding: 10px;
    font-weight: bold;

}